flask==2.2.5
flask_cors==3.0.10
basicsr==1.4.2.0
facexlib==0.2.5
gfpgan==1.3.8
realesrgan==0.3.0
opencv-python==4.5.5.64
Pillow==9.5.0

# CPU varianty PyTorch
torch==1.13.1+cpu
numpy==1.24.4

# build utils
wheel
setuptools
gunicorn

--extra-index-url https://download.pytorch.org/whl/cpu
